// Specific CSS for your home-page

.btn {
  background-color: #cc71c6aa;
  border: 2px #cc71c6cf;
}

.hero {
  background-size: cover;
  height: 100vh;
}

.home-text {
  padding-top: 40vh;
  color: white;
}
