<% counter = 0 %>

<% @outfits.each do |outfit| %>
  <% if outfit.user != current_user %>
    <% counter += 1  %>
  <% end %>
<% end %>

<% if counter > 0 %>
    <div class="cards">
      <% @outfits.each do |outfit| %>
        <% if outfit.user == current_user %>
        <% else %>
          <%= render 'outfit_card', outfit: outfit %>
        <% end %>
      <% end %>
    </div>
<% else %>
  <h4>No outfits to see, sad doggos :(</h4>
<% end %>
