<% counter = 0 %>

<% @outfits.each do |outfit| %>
  <% if outfit.user != current_user %>
    <% counter += 1  %>
  <% end %>
<% end %>

<% if counter > 0 %>
    <div class="cards">
      <% @outfits.each do |outfit| %>
        <% if outfit.user == current_user %>
        <% else %>
          <%= render 'outfit_card', outfit: outfit %>
        <% end %>
      <% end %>
    </div>
<% else %>
  <div class="text-center">
    <h4>Woof, no outfits</h4>
    <img
      src="https://lh3.googleusercontent.com/proxy/w_WfI5rDjRQKqqRu2VYFRsoifNmRmI3_265g2uWJz-0gUnly56P5pGFyAUCYAVvNJ03PPqUe3io8STOjRi6jeDwgYZL_JujmUuWPToHIEY9cbR0fC7FxwUPJUj1jexBG_0lM82TfAIZfw5XxM9PvlA1KtRMUqOIV7yM"
      alt="sad doggo"
      class="rounded">
  </div>
<% end %>
