<h2>Love it?</h2>

<%= simple_form_for [ @outfit, @booking ] do |f| %>
  <%= f.input :date_from, as: :date, html5: true %>
  <%= f.input :date_to, as: :date, html5: true %>
  <%= f.submit 'Book!', class: 'btn', method: :create %>
<% end %>

<p><strong>Total price:</strong> TODO</p>
