<% if user_signed_in? %>
  <% if current_user.outfits.empty? %>
    <h4>You don't have any outfits yet. Add one now!</h4>
    <div>
      <%= link_to "Add outfit", new_outfit_path, class: "btn btn-success mx-3" %>
    </div>
  <% else %>
    <div class="cards">
      <% @outfits.each do |outfit| %>
        <% if outfit.user == current_user %>
          <%= render 'outfit_card', outfit: outfit %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h3>Please log in to see your outfits</h3>
  TO DO: LOGIN BUTTON
<% end %>
