<% @your_bookings.each do |booking| %>
  <div>
    <% if booking.approve %>
      <ul>
        <li class="border-left border-success mt-3 px-3", style="border-width: 10px !important;">
          <p><%= booking.date_from %> - <%= booking.date_to %></p>
          <%= link_to 'cancel', booking_path(booking), method: :delete, remote: :true, data: { confirm: "Are you sure?" } %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>
