<% if user_signed_in? %>
  <% if current_user.outfits.empty? %>
    <h4>You don't have any outfits yet. Add one now!</h4>
  <% else %>
    <div class="cards">
      <% @outfits.each do |outfit| %>
        <% if outfit.user == current_user %>
          <%= render 'outfit_card', outfit: outfit %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="text-center">
    <h3>Please log in to see your outfits</h3>
    <%= link_to "Login", new_user_session_path, class: "nav-link btn" %>
  </div>
<% end %>
