<div class="container mb-5">
  <%= link_to "Back", root_path, class: "back" %>

  <ul class="nav list-inline tabs-underlined mb-4" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true" class="tab-underlined nav-link active">All outfits</a>
    </li>
    <li class="nav-item" role="presentation">
      <a id="myoutfit-tab" data-toggle="tab" href="#myoutfit" role="tab" aria-controls="myoutfit" aria-selected="false" class="tab-underlined nav-link">My outfits</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
      <%= render "all_outfits" %>
    </div>
    <div class="tab-pane fade show" id="myoutfit" role="tabpanel" aria-labelledby="myoutfit-tab">
      <%= link_to new_outfit_path do %>
        <button class="btn btn-primary mb-3">
          <i class="fas fa-plus"></i>  Create new outfit
        </button>
      <% end %>
      <%= render "your_outfits" %>
    </div>
  </div>


</div>
