<div class="container">
  <%= link_to outfit_path(@outfit) do %>
    <div class="btn btn-primary">Back</div>
  <% end %>

  <% if @bookings.empty? %>
    <h1>Looks like there aren't any bookings yet... Book now!</h1>
    <%= link_to new_outfit_booking_path(@outfit) do %>
      <div class="btn btn-success">Book!</div>
    <% end %>
  <% else %>
    <div>
      <h1>Approved Bookings:</h1>
      <%= render "approved_bookings" %>
    </div>
    <div>
      <h1>Pending Bookings:</h1>
      <%= render "pending_bookings" %>
    </div>
  <% end %>
</div>
