<div class="footer card sticky-bottom">
  <div class="purpose">
    <p>Dashing Dogs is committed to ensuring the best experience for all dogs and dog-lovers out there.</p>
  </div>
  <div class="year">
    <p>STYLING DASHING DOGS SINCE 2021.</p>
  </div>
  <div class ="paw">
    <i class="fas fa-paw"></i>
  </div>
</div>
