<div class="footer">
  <div class="purpose">
    <p>Dashing Dogs is committed to ensuring the best experience for all dogs and dog-lovers out there.</p>
  </div>
  <div class="social-media">
  </div>
</div>
