
<html>
  <head>
    <title>Dashing Dogs | Dashing dogs on trend</title>
    <meta name="description" content="Page description. No longer than 155 characters.">
    <meta charset="utf-8">
  </head>
  <body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="hero" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://blogs-images.forbes.com/ceciliarodriguez/files/2018/01/moncler-dog-jackets-mondog-.jpg')">
            <div class="container">
              <h1> ♛ Luxury Dog Clothing ♛ </h1>
              <h2> Made for dashing dogs</h2>
              <%= link_to 'Explore', outfits_path(@outfit), class: "btn"%>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="hero" style=" background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1583336663277-620dc1996580?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZG9nJTIwY2xvdGhlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');">        <div class="container">
              <h1> ♛ Luxury Dog Clothing ♛ </h1>
              <h2> Made for dashing dogs</h2>
              <%= link_to 'Explore', outfits_path(@outfit), class: "btn"%>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="hero" style=" background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://frenchbullevard.com/wp-content/uploads/2016/12/dogs_variety_yorkshire_terrier_chihuahua_costumes_56005_1280x720.jpg');">
            <div class="container">
              <h1> ♛ Luxury Dog Clothing ♛ </h1>
              <h2> Made for dashing dogs</h2>
              <%= link_to 'Explore', outfits_path(@outfit), class: "btn"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
