.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

p {
  color: black;

  &:hover {
    color: #cc71c6cf;
  }
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  height: 120px;
  margin-top: 48px;
}

.yield {
  min-height: calc(100vh - 194.06px);
}

.footer .purpose {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer .year {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.footer .paw {
  display: flex;
  justify-content: center;
  color: #cc71c6cf;
}
