.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  display: inline-flex;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-lewagon .navbar-button {
  color: rgb(229, 153, 166);
  background: rgb(235, 228, 235);
  border: rgb(234, 224, 224);
  text-decoration: none;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: Helvetica;
  white-space: nowrap;
  padding: 2px 4px 4px 4px;
  box-shadow: 0 2px 14px rgb(205, 204, 204);
  cursor: pointer;
  display: flex;
  transition-duration: 0.4s;
  margin-right: 15px;
}

.navbar-lewagon .navbar-button:hover {
  background-color: #fdfefd;
  color: rgb(229, 153, 166);
}

.navbar .navbar-expand-sm .navbar-light .navbar-lewagon {
  justify-content: flex-end;
  width: 45%;
  display: flex;
}

.navbar .nav-item {
  display: flex;
}

.navbar-search {
  display:flex;
  flex-wrap: nowrap;
  border-color:rgb(229, 153, 166);
}

.input-group-text {
  border-radius: 0 10px 10px 0;
  border-left: none;
  color:white;
  background-color: rgb(218,157,213);
  border-color:rgb(218,157,213);
  height: 95%;
}

.navbar-nav{
  align-items: center
}

.search{
  margin-left: 20px;
}

.form-control{
  border-color:rgb(218,157,213);
  border-radius: 10px
}
