.new-outfit-form {
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #cc71c6cf;
  background-color: #cc71c650;
  margin: 100px auto;
  width: 600px;
  border-radius: 10%;
}

.new-outfit-form .simple-form {
  margin-top: 100px;
}

.new-outfit-form .input {
  .submit {
    border-radius: 100px;
  }
}
