.new-outfit-form {
  display: flex;
  justify-content: center;
  color: #cc71c6cf;
  background-color:white;
  border-color: #cc71c6cf;
  border-width: 100px;
  opacity: 1.0;
  margin: 0px auto;
  width: 600px;
  border-radius: 1%;
  padding: 50px;
  font-size: 20px;
}

.new-outfit-form .simple-form {
  margin-top: 100px;
}

.new-outfit-form .input {
  .submit {
    border-radius: 100px;
  }
}

.outfit-body {
  background-image: url("bestdressed.png");
  background-size: cover;
  height: 650px;
}
