// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "dogs/index";

li {
  list-style-type: none;
}

body {
  cursor: url(http://www.zingerbugimages.com/cursors/paws1.ani), url(http://www.zingerbug.com/cursors/cursors/paws1.gif), progress !important;
}

a:hover {
  cursor: url(http://www.zingerbugimages.com/cursors/pink_paws.ani), url(http://www.zingerbug.com/cursors/cursors/pink_paws.gif), progress !important;
}
